select{
    color: rgba(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.header{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: rgb(145, 194, 136);
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.filter{
    margin-bottom: 15px;
}

.course{
    background-color: rgb(248, 243, 236);
    border-radius: 5px;
    padding: 20px;
    
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0.5%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.course > div{
    width: 100%;
}

.responsible > div > span{
    border: gray solid 0.5px;
    margin: 5px;
    padding: 1%;
    border-radius: 4px;
  
    background-color: rgb(221, 94, 94);
    color: rgb(248, 243, 236);
}

h3{
    color: rgba(0, 0, 0, 0.5);
}

.staff > div > div > span{
    border: gray solid 0.5px;
    margin: 5px;
    padding: 1%;
    border-radius: 4px;
}

.students{
    display: flex;
    flex-wrap: wrap;

    padding-top: 15px;
    
}

.student {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    border: gray solid 0.5px;
    margin: 5px;
    padding: 1%;
    border-radius: 4px;
}

.students span:first-of-type{
    display: block;
    width: 100%;

}

.student > span:first-of-type{
    font-weight: bold;
}

.list{
    display: flex;
    flex-wrap: wrap;
}

.students > div:first-of-type{
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
}