

.filter{
    margin-bottom: 15px;
}

.course{
    background-color: rgb(248, 243, 236);
    border-radius: 5px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    margin: 0.5%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.responsible > div > span{
    border: gray solid 0.5px;
    margin: 5px;
    padding: 1%;
    border-radius: 4px;
  
    background-color: rgb(221, 94, 94);
    color: rgb(248, 243, 236);
}

h3{
    color: rgba(0, 0, 0, 0.5);
}

.staff > div > div > span{
    border: gray solid 0.5px;
    margin: 5px;
    padding: 1%;
    border-radius: 4px;
}

.students{
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.student{
    border: gray solid 0.5px;
    margin: 5px;
    padding: 1%;
    border-radius: 4px;
}

.students span:first-of-type{
    display: block;
    width: 100%;

}

.student > span:first-of-type{
    font-weight: bold;
}
