select{
    color: rgba(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

.header{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: rgb(145, 194, 136);
    display: flex;
    justify-content: center;
    align-items: center;
}

.listContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.student{
    background-color: rgb(248, 243, 236);
    border-radius: 5px;
    padding: 20px;
    
    display: flex;
    flex-wrap: wrap;
    margin: 0.5%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.student > div > h2{
    margin: 0px;
    width: 100%;
}

.student > div:first-child{
    width: 100%;
}
.student > div:first-child > h3{
    color: rgba(0, 0, 0, 0.5);
}

.course{
    border: gray solid 0.5px;
    margin: 5px;
    padding: 1%;
    border-radius: 4px;
}

.course span:first-of-type{
    display: block;
    width: 100%;
}

.filter{
    margin-bottom: 15px;
}







