
p{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;
}

select{
    color: rgba(0, 0, 0, 0.5);
    font-family: Georgia, 'Times New Roman', Times, serif; 
}